.button--primary {
  background: $fatigue;
  color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  &:hover {
    background: darken($fatigue, 10%);
  }
}

.button--secondary {
  background: $green-0;
  color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  &:hover {
    background: darken($green-0, 10%);
  }
}

.button--red {
  background: $red-0;
  color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

  &:hover {
    background: $red-1;
  }
}

.button--action {
  background: transparent;
  padding: $m-size;
  color: $off-black;
  box-shadow: none;
  justify-content: center;
  align-items: center;

  svg {
    width: 13px !important;
    height: 13px !important;
  }
}

.button--view {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green-0;
  color: $off-black;
  margin: 10px;

  &:hover {
    background: $green-1;
    color: $off-grey;
  }
}

.button--add {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue-0;
  color: $off-black;
  margin: 10px;

  &:hover {
    background: $blue-1;
    color: $off-grey;
  }
}

.button--delete {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $red-0;
  color: $off-black;
  margin: 10px;

  &:hover {
    background: $red-1;
    color: $off-grey;
  }
}

.button--favorite {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green-0;;
  color: $off-black;
  margin: 10px;

  &:hover {
    background: $green-1;
    color: $off-grey;
  }
}

.button--toggle {
  background: $green-1;
  padding: $m-size;
}

.button--link {
  text-decoration: none;
}

.button--block {
  width: 100%;
}