.content {
  width: 100%;
  padding: $m-size $xl-size;
  position: relative;
  background:#CCCC00;
  overflow-y: scroll;
  color: #ffff;

  &::-webkit-scrollbar {
    width: 7px;
  }
   
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $light-black;
    outline: 1px solid lighten($light-black, 10%);
  }

  @media (min-width: $desktop) {
    width: 1360px;
  }

  @media (max-width: $tablet) {
    width: 100%;
    padding: $m-size;
    padding-top: $l-size; 
  }
}