.filter__recipe {
  display: flex;
  align-items: center;
  padding: 0;
  width: 60%;

  input {
    width: 100%;
    height: 40px;
    padding: $m-size;
    border: none;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    &:focus {
      outline: none;
      border: 1px solid $blue-1;
    }
  }

  svg {
    position: absolute;
    right: 20px;
    top: 10px;
  }

  select {
    @extend input;
    flex-grow: 0;
    padding: 0 $m-size;
    padding-right: $xl-size;
    margin-right: $s-size;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, $grey 50%),
    linear-gradient(135deg, $grey 50%, transparent 50%),
    linear-gradient(to right, $light-grey, $light-grey);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    background-color: lighten($light-black, 10%);

    &:focus {
      background-image:
      linear-gradient(45deg, $grey 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, $grey 50%),
      linear-gradient(to right, $light-grey, $light-grey);
      background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      outline: 0;
    }
  }

  select:last-child {
    margin: 0;
  }

  @media (max-width: $tablet) {
    width: 100%;

    input {
      width: 100%;
    }  
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: baseline;
    
    select {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.filter__text {
  margin-top: 0;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.filter__title {
  position: relative;
  flex-grow: 1;
  margin-right: $s-size;
  background-color: lighten($light-black, 10%);

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.filter__sort {
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    width: 100%;
    margin-top: $m-size;

  }
}