.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.modal-wrapper {
  background: white;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transition: all .3s;
  width: auto;
  height: auto;
  padding: $xl-size;
  position: fixed;
  z-index: 2;
}

.modal-header h3 {
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}

.modal-body {
  padding: 10px 15px;
  text-align: center;
}

.modal-footer {
  background: #263238;
  height: 35px;
  padding: 15px;
}

.close-modal-btn {
  color: $off-black;
  cursor: pointer;
  font-size: 30px;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 5px;
}

.close-modal-btn:hover {
  color: black;
}

.back-drop {
  background-color: rgba(48, 49, 48, 0.42);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  transition: all .3s ease-in-out;
  z-index: 1;
}

.open-modal-btn {
  margin: 15px;
  padding: 10px;
  font-weight: bold;
}


.styles_modal__gNwvD {
  text-align: center !important;

  @media (max-width: $mobile) {
    padding: $l-size !important;
  }
}
