.recipe-list {
  margin-top: $xl-size;
}

.recipe-item {
  text-decoration: none;
}

.recipe-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $off-white;
  padding: $s-size 0;

  h4 {
    flex-grow: 1;
    color: $green-1;
  }
}
.recipe-thumbnail {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: $blue-0;
  margin-right: $l-size;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    color: #fff;
  }
}

.recipe-list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $xl-size;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.recipe__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-items {
  text-align: left;

  @media (max-width: $tablet) {
    padding: 0;
  }
}