* {
  box-sizing: border-box;
}

html {
  font-size: 80.5%;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  background: #fff;
  color: $fatigue;
  line-height: 1.5;
}

h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

button {
  padding: $m-size;
  border: none;
  background: none;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

input:focus, 
button:focus {
  outline: none;
} 

a {
  text-decoration: none;
  color: #fff;
}

#app {
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}