//Colors
$grey: #a1a1a1;
$light-grey: #e1e1e1;
$off-white: #E1E1DF;
$fatigue: #2A4C3B;
$off-grey: #f9f9f9;
$off-black: #1a1a1a;
$light-black: #A8A8A8;
$red-0: #ff867c;
$red-1: #b61827;
$green-0: #aee571;
$green-1: #4b830d;
$blue-0: #80d6ff;
$blue-1: #0077c2;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints
$x-mobile: 20rem;
$mobile: 30rem;
$tablet: 50rem;
$laptop: 64rem;
$desktop: 95rem;
